@font-face {
    font-family: NettoOT;
    src: url("../design/NettoOT.otf");
}


body{
    /* display:flex; */
    margin: 0;
    padding: 0;
    font-family: 'NettoOT';
    overflow-x: hidden;
}

.titel-container{
    display: flex;
    align-items: center;
    width: 100vw;
    background-color:#2490D6;
    height: 10vh;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    /* border-bottom: 0.3vh solid white; */
    height: 7vh;
    margin: 0;
    background-color:#2490D6;
    border-bottom: 0.5vh solid white;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 1vw;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
}

.navbar a:hover{
    text-decoration: none;
    border-bottom: 0.3vh solid #E8EB0C;
    transition: all 0.2s ease-in-out;
}

.navbar img{
    margin-right: 2vw;
    height: 5vh;
    width: auto;
    
}

h1{
    color: white;
    font-weight: 400;
    margin-left: 2vw;
    transition: all 1s ease-in-out;
} 

h1:hover{
    color:#E8EB0C;
    transition: all 1s ease-in-out;
}

.IT-Consultancy-row{
    display: flex;
    align-items: center;
   height: 50vh;
   width: 100vw;
}

#IC_C1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
}

#IC_C1 img{

    height: 35vh;
    width: auto;
}
#IC_C2{
    width: 50vw;
    height: 40vh;
}
p{
    color: #6B6B6B;
    max-width: 30vw;
    margin-left: 5vw;
}

#IC_C2 a{
    display: block;
    width: fit-content;
    border:0.15rem solid #2490D6;
    padding: 0.3rem 1rem;
    text-decoration: none;
    color: #2490D6;
    margin-left: 5vw;
    margin-top: 5vh;
    transition: all 0.3s ease-in-out;
}

#IC_C2 a:hover{
    color: #E8EB0C;
    border:0.15rem solid #E8EB0C;
    transition: all 0.3s ease-in-out;
}
h2{
    color: #2490D6;
    font-weight: 500;
    margin-left: 5vw;
}
#IC_C2 h2:hover{
    width: fit-content;
    border-bottom: 0.1rem solid #E8EB0C;
}
.Services-row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2490D6;
    height: 50vh;
    width: 100vw;
}

.S_C1{
    width: 30vw;
    height: 30vh;
    
}

.S_C1 h2{
    color: white;
    border-bottom: 0.1rem solid #E8EB0C;
    width: fit-content
}

.S_C1 p{
    color: white;
}

.button{
    display: block;
    border-radius: 5px;
    border: 0.15rem solid white;
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 0.3rem 1rem;
    margin-left: 2vw;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

#linkseButton{
    margin-left: 5vw;
}
.button:hover{
    border: 0.15rem solid #E8EB0C;
    color: #E8EB0C;
    transition: all 0.3s ease-in-out;
}


.container{
    margin-top: 5vh;
    display: flex;
    justify-content: left;
}

.S_C2{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
    
.S_C2 img{
        height: 35vh;
        width: auto;
    }

.ROW3{
    align-items: center;
    display: flex;
    height: 50vh;
}

.ROW3_C1{
    height:30vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ROW3_C1 img{
    height: 35vh;
    width: auto;
}

.ROW_C2{
    height: 30vh;
    width: 50vw;
}

.footer{
    background-color:#2490D6 ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img{
    margin-left: 5vw;
    height: 5vh;
    width: auto;
}

.footer p{
    color: white;
}